Source: plenary-nvim
Section: editors
Priority: optional
Maintainer: Dimitry Ishenko <dimitry.ishenko@gmail.com>
Build-Depends:
 debhelper-compat (= 13),
 dh-vim-addon,
Standards-Version: 4.6.2
Homepage: https://github.com/nvim-lua/plenary.nvim
Vcs-Browser: https://github.com/dimitry-ishenko-vim/plenary-nvim
Vcs-Git: https://github.com/dimitry-ishenko-vim/plenary-nvim.git
Rules-Requires-Root: no

Package: plenary-nvim
Architecture: all
Depends:
 ${misc:Depends},
 neovim (>= 0.8),
Description: plenary: full; complete; entire; absolute; unqualified
 All the lua functions I don't want to write twice.
